*.kdev4
project
build
hevcparser/tests/samples/*.265
hevcparser/tests/samples/*.bin
hevcparser/tests/samples/*.hevc
utils/hevc_es_browser_gui/Makefile*
utils/hevc_es_browser_gui/version_info.h
utils/hevc_es_browser_gui/object_script.hevcesbrowser.Debug
utils/hevc_es_browser_gui/object_script.hevcesbrowser.Release
